.photo-grid {
    min-width: 288px;
    margin: 64px 16px 0;
    display: grid;
    row-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (min-width: 768px) {
    .photo-grid {
        min-width: 720px;
        column-gap: 16px;
        row-gap: 16px;
        margin: 88px 24px 0;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        min-width: 928px;
        column-gap: 14px;
        margin: 92px 48px 0;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        min-width: 1184px;
        gap: 16px;
    }
}