.place__website {
    min-width: 288px;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    align-content: end;
    row-gap: 12px;
}

@media screen and (min-width: 768px) {
    .place__website {
        min-width: 352px;
    }
}

@media screen and (min-width: 1024px) {
    .place__website {
        min-width: 456px;
    }
}

@media screen and (min-width: 1024px) {
    .place__website {
        min-width: 456px;
    }
}