.place__image {
    min-width: 320px;
    height: 320px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (min-width: 768px) {
    .place__image {
        min-width: 340px;
        min-height: 340px;
        grid-column: 3 / 1;
        grid-row: 2;
    }
}

@media screen and (min-width: 1024px) {
    .place__image {
        min-width: 440px;
        min-height: 440px;
    }
}

@media screen and (min-width: 1280px) {
    .place__image {
        min-width: 460px;
        min-height: 460px;
    }
}