.lead__title {
    min-width: 288px;
    min-height: 88px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    white-space: pre-line;
}

@media screen and (min-width: 768px) {
    .lead__title {
        min-width: 720px;
        min-height: 200px;
        font-size: 92px;
        line-height: 100px;
    }
}