.header {
    width: 90%;
    min-width: 42px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px 0 0;
}

@media screen and (min-width: 768px) {
    .header {
        min-width: 720px;
        padding: 28px 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        min-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        min-width: 1184px;
    }
}
