.footer__links {
    display: grid;
    grid-gap: 32px;
    text-decoration: none;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

@media screen and (min-width: 768px) {
    .footer__links {
        grid-template-columns: repeat(5, max-content);
        font-size: 16px;
        line-height: 18px;
        grid-gap: 18px;
    }
}

