.place__paragraph {
    min-width: 288px;
    margin: 0 0 0 16px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .place__paragraph {
        min-width: 352px;
        grid-column: 3 / 2;
        grid-row: 2;
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        min-width: 456px;
    }
}

@media screen and (min-width: 1280px) {
    .place__paragraph {
        min-width: 484px;
    }
}